.add-repo{
    width:100%;
    height:60px;
    max-height: 60px;
    border-top: 1px solid var(--border1);
    display:flex;
    padding:16px 16px 16px 30px;
    box-sizing: border-box;
    display:flex;   
    justify-content: space-between;
    width:100%;
    align-items: center;
    background-color: var(--accent);
}

.add-repo h2{
    font-size: 16px;
    color: var(--light-subtext);
    font-family: var(--font2);
    font-weight: normal;
    margin: 0;
    transform:translateY(-2px);
}

.add-repo p{
    font-size: 12px;
    color: var(--light-subtext);
    font-family: var(--font2);
    margin: 0;
    line-height: 1.1;
}

.add-repo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.add-repo-form{
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-repo-form input{
    width: 100%;
    height: 30px;
    color:var(--dark-subtext);
    border: 1px solid var(--border1);
    border-radius: 5px;
    padding: 0 10px;
    background-color: var(--bg);
    box-sizing: border-box;
}

.add-repo-form input:focus{
    outline: none;
    border: 1px solid var(--border1);
}

.add-repo .error p{
    color: var(--deletions);
    font-size: 12px;
    font-family: var(--font2);
    margin: 0;
    padding: 0;
    width:150px;
}