.error-popup{
    height:500px;
    padding:10px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    
    h1{
        margin:0;
        margin-bottom:10px;
        line-height:1.3;
    }
    .error-content{
        width:100%;
        flex-grow:1;
        background-color: var(--accent);
        margin-top:20px;
        box-sizing: border-box;
        padding:10px;
        border-radius: 10px;
        p{
            font-family: 'Mona Sans';
            font-size: 13px;
            color: var(--dark-subtext);
            line-height:1.3;
            margin:3px;
            padding:5px 10px;
            background-color: var(--red-background);
            border-radius: 5px;
        }
    }
}
.paste-commits{
    .diff{
        p{
            font-size: 13px;
            color: var(--dark-subtext);
            font-weight: 500;
        }
    }
    .error{
        color: var(--red);
        background-color: var(--red-background);
        padding: 4px 10px;
    }
    .users{
        display:flex;
        flex-wrap:wrap;
        gap:10px;
    }
    .user-details{
        display:flex;
        border: 1px solid var(--border1);
        border-radius:8px;
        flex-direction: column;
        padding:15px;
        gap:15px;
        img{
            width:40px;
            height:40px;
            border-radius: 50%;
        }
        .user{
            display:flex;
            gap:10px;
            h2{
                font-family: 'Mona Sans';
                font-size: 16px;
                color: var(--blue);
            }
            .details{
                display: flex;
                flex-direction: column;
                gap:5px;
            }
            .diff{
                margin-left:0;
            }
        }
        .user-repos{
            display:flex;
            flex-direction: column;
            gap:10px;
            .user-repo{
                display:flex;
                border-radius: 5px;
                background-color: var(--accent);
                padding:5px 10px;
                h2{
                    font-family: 'Mona Sans';
                    font-size: 13px;
                    color: var(--light-subtext);
                    font-weight:400;
                }
            }

        }
    }
    .input{
        width:100%;
        flex-grow:1;
        display:flex;
        overflow:auto;
        flex-direction: column;
        gap:10px;
        textarea,
        .parsed-commits{
            width:100%;
            flex-grow:1;
            background-color: var(--accent);
            outline:none;
            border:none;
            padding:10px;
            border-radius:10px;
            box-sizing: border-box;
            color: var(--light-subtext);
            overflow-y: auto;
        }

        .username{
            display:flex;
            gap:10px;
            align-items: center;
            input{
                background-color: var(--accent);
                outline:none;
                border:none;
                padding:10px;
                border-radius:10px;
                box-sizing: border-box;
                color: var(--light-subtext);
            }
            p{
                font-family: 'Mona Sans';
                font-size: 13px;
                color: var(--dark-subtext);
            }
        }

        .button-container{
            display:flex;
            justify-content: flex-end;
            button{
                transition: all 0.3s;
                background-color: var(--accent);
                color: var(--light-subtext)
            }
            button.active{
                background-color: var(--purple);
                color: var(--main-text);
            }
            .back1{
                width:0;
                opacity: 0;
                padding:0;
            }
            .back{
                width:20%;
                margin-right:10px;
            }
            .go{
                flex-grow:1
            }
        }

        .parsed-commit{
            font-family: 'Mona Sans';
            font-size: 13px;
            padding: 3px 5px;
            background-color: var(--purple);
            color: rgba(255,255,255,0.6);
            border-radius: 10px;
            width: fit-content;
            width: moz-fit-content;
        }

        .parsed-commit.invalid{
            background-color: var(--deletions);
        }

        .invalid-commits{
            width:100%;
            background-color: var(--accent);
            outline:none;
            border:none;
            padding:10px;
            border-radius:10px;
            box-sizing: border-box;
            color: var(--light-subtext);
            p:not(.parsed-commit){
                font-family: 'Mona Sans';
                font-size: 13px;
                color: var(--dark-subtext);
            }
            
        }

    }
    .button{
        background-color: var(--purple);
        color: var(--main-text);
        padding:7px 13px;
        border-radius: 5px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
}