.home{
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    background-color: var(--bg);
}

.title{
    margin:30px;
}

.title h1{
    font-size:24px;
    color: var(--main-text);
}

.content-container{
    flex-grow:1;
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    max-width:980px;
    width:calc(80% - 60px);
    margin: 0 30px;
    height:70%;
    border:1px solid var(--border1);
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    /* overflow:hidden; */
}

.content-header{
    width:100%;
    height:70px;
    background-color: var(--accent);
    border-bottom: 1px solid var(--border1);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.content-header .rs-input-group.rs-input-group-inside{
    height:25px !important;
    font-size: 12px !important;
}

.content-header input{
    font-size: 12px !important;
    font-family: var(--font1);
}

.left{
    display:flex;
    align-items: center;
    padding:0 20px;
    gap:15px;
}

.right{
    display:flex;
    align-items: center;
    padding:0 20px;
    gap:15px;

}

.home .button{
    background-color: var(--button-green);
    color: var(--main-text);
    padding:7px 13px;
    border-radius: 5px;
}

.home .go{
    background-color: var(--purple);
    color: var(--main-text);
    transition: 0.5s all;
    filter:brightness(0.5);
    pointer-events: none;
    font-weight:bold;
}

.home .go.active{
    pointer-events: all;
    filter:brightness(1);
    background: var(--purple);
    /* box-shadow: 0 0 7px var(--purple); */

}

.home .go.active:hover{
    box-shadow: 0 0 5px var(--purple),
                0 0 10px var(--purple),
                0 0 20px var(--purple);

}

.repos{
    width:100%;
    flex-grow:1;
    display:flex;
    flex-direction: column;
    /* padding: 10px 0; */
    overflow-y: scroll;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
    .content{
        width:calc(100% - 20px);
        margin: 0 10px;
    }
    
}

/* website discord github 
https://github.com/hack-rpi/Figma-Designs-2024
https://github.com/hack-rpi/HackRPI-Mobile
https://www.hackrpi.com/
https://discord.gg/yqBPjUJnqK



*/