:root{
    --dark: #020409;
    --bg: #0E1117;
    --accent: #171B22;
    --button-fill: #22262D;
    --border1: #23272E;
    --border2: #30363D;
    --button-green: #3E8438;
    --green: #3FB950;
    --purple: #7344C3;
    --blue: #4493F8;
    --main-text: white;
    --dark-subtext: #848D97;
    --light-subtext: #656C76;
    --placeholder-text: #656C76;
    --insertions: #238636;
    --deletions: #DA3633;
    --popup: #161B22;
    --commit-repo-hover: #1B1F24;

    --font1: 'Mona Sans';
    --font2: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";;
}

@import "rsuite/dist/rsuite.css";


h1{
    font-size:20px;
    color: var(--main-text);
    font-family:'Mona Sans';
    font-weight: bold;
    margin:0;
}

h2{
    font-size:16px;
    color: var(--main-text);
    font-family:'Mona Sans';
    font-weight: bold;
    margin:0 ;
    line-height: 1 !important;

}

h3{
    font-size:14px;
    color: var(--main-text);
    font-family:'Mona Sans';
    font-weight: bold;
    margin:0 ;
    line-height: 1 !important;
}

p{
    font-size:12px;
    color: var(--main-text);
    font-family: var(--font2);
    margin:0;
    line-height: 1.1;
}

a{
    font-size:12px;
    color: var(--blue);
    font-family: var(--font2);
    text-decoration: none;
    cursor: pointer;
}

body{
    background-color: var(--bg);
}

button{
    font-family: var(--font1);
    outline:none;
    border:none;
    cursor:pointer;
    border-radius: 6px;
    font-size:13px;
}

button:active{
    filter: brightness(0.8);
}

button.secondary{
    background-color: var(--button-fill);
    color: var(--main-text);
    padding: 5px 9px;
    
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 20px;

}

::-webkit-scrollbar-thumb {
    background: var(--border1);
    border: 2px solid var(--popup);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--border2);
}

