.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 2rem;
    background-color: var(--dark);
    border-bottom: 1px solid var(--border1);
    height:60px;
    width:100%;
    box-sizing: border-box;
}

.header-content{
    width:100%;
}
