.commits{
    height:100vh;
    display:flex;
    flex-direction:column;
}

.container{
    display:flex;
    height:100%;
}

.commits .left{
    width:250px;
    height:100%;
    border-right: 1px solid var(--border1);
}